body {
    background: white url("images/background.jpg") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    height: 100%;    
    background-color: #000000;
    font-family: 'Roboto', sans-serif; 
    color: white;
}

 hr {
     margin-top: 5px;
     border-width: 1px 0;
     border-color: white;
 }

 .panel {
    background-attachment: fixed;
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
 }

.container{
    margin-top: 1vh;
}
.day-image{
    width: 200px;
    height: 200px;
}

/* Main panel */
.panel-main{
    max-width: 80vw;
}
.panel-main-body {
    padding: 10px;
}
.temp{
    font-size: 6rem;
    padding: 20px;
}
sup{
    vertical-align: baseline;
    position: relative;
    top: -40px;
    line-height: 0;
    font-size: 40px;
    font-weight: 400;    
}

/* Day panel */
.panel-day{
    max-width: 215px;
    margin: 10px;
    float: left;
}
.panel-day-body {
    padding: 10px;
}