body, html {
    background: white url("images/background.jpg") no-repeat;
    height: 100%;    
    background-color: #000000;
    font-family: 'Roboto', sans-serif; 
    color: white;
}

 hr {
     margin-top: 5px;
     border-width: 1px 0;
     border-color: white;
 }

 .panel  {
    background: rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5.7px);
    -webkit-backdrop-filter: blur(5.7px);
 }

 .col-2{
    width: 225px;
    margin-left: 10px;
 }
 
 .col-8{
    min-width: 615px;
 }

 .panel-body {
   position: relative;
   margin-right: 20px;
   margin-left: 20px;
   padding-top: 5px;
   margin-top: 4vh;
 }
 
 #temperature p {
     font-size: 9rem;
     text-align: left;  
 
 }
 
 #temperature p sup {
     vertical-align: baseline;
     position: relative;
     top: -65px;
     line-height: 0;
     font-size: 40px;
     font-weight: 400;    
 }